<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href= "./Days/Thursday.css" rel="stylesheet"  type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Tag</title>
  </head>
  <body>
    <button  class="menu" onclick="location.href='/wochenansicht'" type="button">
      <i class="far fa-calendar-alt"></i> Week
      </button>
    <button class="menu" onclick="location.href='/logout'" type="button">
      <i class="fas fa-sign-out-alt"></i> Log out
    </button>
    <header>
      <h1>Thursday</h1>
    </header>
    <form>
      <input type="text" class="todo-input">
      <button class="todo-button" type="submit">
        <i class="fas fa-plus-square"></i>
      </button>
      <div class="select">
        <select name="todos" class="filter-todo">
          <option value="all">All</option>
          <option value="completed">Completed</option>
          <option value="uncompleted">Uncompleted</option>
        </select>
      </div>
    </form>
    <div class="todo-container">
      <ul class="todo-list"></ul>
    </div>
    <script src="./Days/Thursday.js"></script>
  </body>
</html>