<!DOCTYPE html>
<html>
    <head>
        <title>Begrüssung</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>Features:</p>
        <ul>
        <li>Personal calendar</li>
        <li>Share your calendar</li>
        <li>Synchronise your calendar with friends and colleagues</li>
        </ul>
        <img src="calendar.png" alt="ToDoList Logo">
        <p> Hier können Sie sich 
        <a href="/login">anmelden.</a>
        </p>
        <p> Erstellen Sie einen neuen 
            <a href="/register">Account.</a>
            </p>
    </body>
</html>