<!DOCTYPE html>
<html>
    <head> 
        <title>Overview</title>
    </head>
    <body>
        <h1>Übersicht</h1>
        <p></p>Willkommen <%=benutzername%></p>
        <a href="/begruessung">Abmelden</a>
    </body>
</html>