<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href= "./Wochenansicht.css" rel="stylesheet"  type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title> Weekly View</title>
  </head>
  <body>
    <button class="menu" onclick="location.href='/logout'" type="button">
      <i class="fas fa-sign-out-alt"></i> Log out
    </button>
    <button class="clear" onclick="location.href='/clear'" type="button">
      <i class="fas fa-trash-alt"></i> Clear week
    </button>
    <p class="willkommen"><%=benutzername%></p>
    <header>
      <h1>Weekly View</h1>
    </header>
    <table>
         <tr>
            <th><a href="/monday">Monday</a></th>
            <th><a href="/tuesday">Tuesday</a></th>
            <th><a href="/wednesday">Wednesday</th>
            <th><a href="/thursday">Thursday</a></th>
            <th><a href="/friday">Friday</a></th>
            <th><a href="/saturday">Saturday</a></th>
            <th><a href="/sunday">Sunday</a></th>
        </tr>
    </table>
  </body>
</html>